<section class="sticky-wrapper">
    <div class="box-link">
        <a href="{% url 'cabinet:db' %}" title="Мои базы данных " class="trans ">Мои БД</a>
    </div>


    <div class="box-link">
        <a href="#" title="Демо базы данных" class="trans ">Демо БД</a>
    </div>

    <div class="box-link">
        <a href="{% url 'cabinet:finances' %}" title="Финансы / Бухгалтерские документы " class="trans ">Финансы</a>
    </div>


    <a href="#" title="Дерево кабинета" class="trans ">Дерево кабинета</a>

    <div class="box-link">
        <a href="/users" title="Управление пользователями" class="trans ">Пользователи</a>
        <a href="/user-add" title="Добавить пользователя" class="add trans">+</a>
    </div>

    <div class="box-link">
        <a href="/clients" title="Управление клиентами" class="trans ">Клиенты</a>
        <a href="/client-add" title="Добавить клиента" class="add trans">+</a>
    </div>

    <div class="box-link">
        <a href="/contracts" title="Управление договорами (лицевыми счетами)" class="trans ">Договоры (л/с)</a>
        <a href="/contract-add" title="Добавить договор (л/с)" class="add trans">+</a>
    </div>
    <div class="box-link">
        <a href="/support_requests" title="Запросы в тех.поддержку " class="trans "><b><span style="color:green">Тех.поддержка</span></b></a>
        <a href="/support_request_add" title="Создать запрос в тех.поддержку" class="add trans">+</a>
    </div>
</section>