{% extends 'cabinet/base.html' %}

{% block content %}

        <div class="sec-content center">

            <section class="sticky-wrapper" >
                    <div class="box-link">
                  <a href="/db" title="Мои базы данных " class="trans ">Мои БД</a>
                </div>


                <div class="box-link">
                  <a href="/db_demo" title="Демо базы данных" class="trans ">Демо БД</a>
                </div>

                  <div class="box-link">
                  <a href="/finances" title="Финансы / Бухгалтерские документы " class="trans ">Финансы</a>
                </div>



                <a href="/tree" title="Дерево кабинета" class="trans ">Дерево кабинета</a>

                <div class="box-link">
                  <a href="/users" title="Управление пользователями" class="trans ">Пользователи</a>
                  <a href="/user-add" title="Добавить пользователя" class="add trans">+</a>
                </div>

                <div class="box-link">
                  <a href="/clients" title="Управление клиентами" class="trans ">Клиенты</a>
                  <a href="/client-add" title="Добавить клиента" class="add trans">+</a>
                </div>

                <div class="box-link">
                  <a href="/contracts" title="Управление договорами (лицевыми счетами)" class="trans ">Договоры (л/с)</a>
                  <a href="/contract-add" title="Добавить договор (л/с)" class="add trans">+</a>
                </div>
                    <div class="box-link">
                  <a href="/support_requests" title="Запросы в тех.поддержку " class="trans "><b><span style="color:green">Тех.поддержка</span></b></a>
                  <a href="/support_request_add" title="Создать запрос в тех.поддержку" class="add trans">+</a>
                </div>
            </section>
            <section class="box-news">
                <div class="header-box"><h1>Новости</h1></div>
                {% for object in object_list %}
                <div class="str-box">
                    <div class="date" style="font-size: 12px; color: #ccc;">{{ object.create }}</div>
                        <div class="head">
                            <a class="head__link" style="color: red;" href="#" target="_blank">{{ object.title }}</a>
                        </div>
                            <div class="news_block_content">
                                {% if object.picture %}
                                <a class="news_block_img" href="#" target="_blank" style="float:left;">
                                    <img src="/media/{{ object.picture }}" style="max-width:160px;">
                                </a>
                                {% endif %}
                                <div class="news_block_lead" style="padding-left:173px">
                                    <p>
                                        {{object.content}}
                                    </p>
                                </div>
                            </div>
                        <div class="cl"></div>
                </div>
                {% if not forloop.last %}
                   <hr style="color: #eee;">
                   {% endif %}
                {% endfor %}
            </section>

            <div class="container-help">
                    <div class="infodata-container">
                        <div class="str-help">
                            <div class="box">
                                Уважаемый клиент, приветствуем Вас,<br>
                                {{ current_user }}<br>
                                <span>Ваш логин:</span> {{ current_user.username }}
                            </div>
                            <div class="box">
                                Баланс 10002949:
                                <span style="font-weight:bold;">0</span> руб.
                            </div>
                        </div>
                    </div>
            </div>
    </div>
                </div>
{% endblock %}